<div class="panel panel-default">
  <div class="panel-heading" id = 'image_box2'>
    <div class="panel-title">
      <h2>Change your password</h2>
    </div>
  </div>

  <div class="panel-body" id = 'image_box'>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="form-group">
        <%= f.label :password, "New password" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autofocus: true, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.submit "Change my password", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="panel-footer" id = 'image_box2'>
    <%= render "devise/shared/links" %>
  </div>
</div>
